@model BudgetWebpage.Models.Goal
@{
    ViewBag.Title = "Dashboard";
}
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/Chart")
</head>
<h2>Dashboard</h2>
<script>
    var barChartData =
        {
            labels: [@Html.Raw(ViewBag.AccountNames_List)], //located: GoalsController line 142
            datasets: [{
                label: 'Account Totals',
                backgroundColor: [
                    "#f990a7",
                    "#aad2ed",
                    "#9966FF",
                ],
                borderWidth: 2,
                data: [@ViewBag.AccountTotals_List]
            }]
        };
    window.onload = function () {
        var ctx = document.getElementById("barcanvas").getContext("2d");
        window.myBar = new Chart(ctx,
            {
                type: 'bar',
                data: barChartData,
                options:
                {
                    title:
                    {
                        display: true,
                        text: "Account Totals"
                    },
                    responsive: true,
                    maintainAspectRatio: true
                }
            });
    }
</script>

<body>
    <div style="text-align: center">
        <canvas id="barcanvas"></canvas>
    </div>
</body>
